In [1]:
import os, subprocess
import pandas as pd
import numpy as np
from IPython.display import display

# Combine features

In [2]:
# check features folders
subprocess.check_output(["ls", "features"]).splitlines()

['baseline_extend.pkl.bz2', 'baseline.pkl.bz2']

In [3]:
# specified features set for joining
ls_feat_file = [
    "baseline.pkl.bz2",
    "baseline_extend.pkl.bz2"
]

In [4]:
%%time
# use first features for base joined
feat_path = os.path.join("features", ls_feat_file[0])
pdf_combined = pd.read_pickle(feat_path, compression="bz2")

# join next features set
for fname in ls_feat_file[1:]:
    feat_path = os.path.join("features", fname)
    pdf_feat = pd.read_pickle(feat_path)
    pdf_combined = pdf_combined.merge(pdf_feat, on="SK_ID_CURR", how="left")

print("rows, columns", pdf_combined.shape)
pdf_combined.head()   
ls_features = [feat for feat in pdf_combined.columns if feat not in ["SK_ID_CURR"]]

('rows, columns', (356255, 216))
CPU times: user 8.34 s, sys: 930 ms, total: 9.27 s
Wall time: 7.36 s

# join with label

In [5]:
pdf_tvt = pd.read_pickle("pdf_tvt_extend.pkl", compression="bz2")
print(pdf_tvt.shape)
display(pdf_tvt.head())

(356255, 3)

   SK_ID_CURR  TARGET tvt_code
0      100002       1    train
1      100003       0    train
2      100004       0    train
3      100006       0    train
4      100007       0    train

In [6]:
pdf_tvt["tvt_code"].value_counts()

train          216948
kaggle_test     48744
test            46127
val             44436
Name: tvt_code, dtype: int64

In [7]:
pdf_features_label = pdf_tvt.merge(pdf_combined, on="SK_ID_CURR", how="left")
print(pdf_features_label.shape)
display(pdf_features_label.head().T)

(356255, 218)

,0,1,2,3,4
SK_ID_CURR,100002,100003,100004,100006,100007
TARGET,1,0,0,0,0
tvt_code,train,train,train,train,train
is_FLAG_EMP_PHONE,1,1,1,1,1
is_FLAG_WORK_PHONE,0,0,1,0,0
is_FLAG_PHONE,1,1,1,0,0
is_FLAG_EMAIL,0,0,0,0,0
is_REG_REGION_NOT_LIVE_REGION,0,0,0,0,0
is_REG_REGION_NOT_WORK_REGION,0,0,0,0,0
is_LIVE_REGION_NOT_WORK_REGION,0,0,0,0,0
is_REG_CITY_NOT_WORK_CITY,0,0,0,0,1
is_LIVE_CITY_NOT_WORK_CITY,0,0,0,0,1
is_FLAG_DOCUMENT_3,1,1,0,1,0
is_FLAG_DOCUMENT_5,0,0,0,0,0
is_FLAG_DOCUMENT_6,0,0,0,0,0
is_FLAG_DOCUMENT_8,0,0,0,0,1
is_FLAG_DOCUMENT_9,0,0,0,0,0
is_REGION_RATING_CLIENT,2,1,2,2,2
is_REGION_RATING_CLIENT_W_CITY,2,1,2,2,2
NAME_INCOME_TYPE_Working,1,0,1,1,1
NAME_INCOME_TYPE_State_servant,0,1,0,0,0
NAME_INCOME_TYPE_Commercial_associate,0,0,0,0,0
NAME_INCOME_TYPE_Pensioner,0,0,0,0,0
NAME_INCOME_TYPE_Unemployed,0,0,0,0,0
NAME_INCOME_TYPE_Student,0,0,0,0,0
NAME_INCOME_TYPE_Businessman,0,0,0,0,0
NAME_INCOME_TYPE_Maternity_leave,0,0,0,0,0
FONDKAPREMONT_MODE_reg_oper_account,1,1,0,0,0
FONDKAPREMONT_MODE_org_spec_account,0,0,0,0,0
FONDKAPREMONT_MODE_reg_oper_spec_account,0,0,0,0,0
...,...,...,...,...,...
YEARS_BUILD_MEDI,0.6243,0.7987,NaN,NaN,NaN
COMMONAREA_MEDI,0.0144,0.0608,NaN,NaN,NaN
ELEVATORS_MEDI,0,0.08,NaN,NaN,NaN
ENTRANCES_MEDI,0.069,0.0345,NaN,NaN,NaN
FLOORSMAX_MEDI,0.0833,0.2917,NaN,NaN,NaN
FLOORSMIN_MEDI,0.125,0.3333,NaN,NaN,NaN
LANDAREA_MEDI,0.0375,0.0132,NaN,NaN,NaN
LIVINGAPARTMENTS_MEDI,0.0205,0.0787,NaN,NaN,NaN
LIVINGAREA_MEDI,0.0193,0.0558,NaN,NaN,NaN
NONLIVINGAPARTMENTS_MEDI,0,0.0039,NaN,NaN,NaN
NONLIVINGAREA_MEDI,0,0.01,NaN,NaN,NaN
TOTALAREA_MODE,0.0149,0.0714,NaN,NaN,NaN
OBS_30_CNT_SOCIAL_CIRCLE,2,1,0,2,0
DEF_30_CNT_SOCIAL_CIRCLE,2,0,0,0,0
OBS_60_CNT_SOCIAL_CIRCLE,2,1,0,2,0
DEF_60_CNT_SOCIAL_CIRCLE,2,0,0,0,0
DAYS_LAST_PHONE_CHANGE,-1134,-828,-815,-617,-1106
AMT_REQ_CREDIT_BUREAU_HOUR,0,0,0,NaN,0
AMT_REQ_CREDIT_BUREAU_DAY,0,0,0,NaN,0
AMT_REQ_CREDIT_BUREAU_WEEK,0,0,0,NaN,0
AMT_REQ_CREDIT_BUREAU_MON,0,0,0,NaN,0
AMT_REQ_CREDIT_BUREAU_QRT,0,0,0,NaN,0
AMT_REQ_CREDIT_BUREAU_YEAR,1,0,0,NaN,0
BIRTH_YEAR,25.9205,45.9315,52.1808,52.0685,54.6082
REGISTRATION_YEAR,9.99452,3.24932,11.6712,26.9397,11.811
ID_PUBLISH_YEAR,5.80822,0.79726,6.93425,6.67671,9.47397
LAST_PHONE_CHANGE_YEAR,3.10685,2.26849,2.23288,1.69041,3.03014
DAYS_EMPLOYED_ANOM,False,False,False,False,False
DAYS_EMPLOYED,-637,-1188,-225,-3039,-3038
YEARS_EMPLOYED,1.74521,3.25479,0.616438,8.32603,8.32329

In [8]:
%%time
# save combined features with label
pdf_features_label.to_pickle(os.path.join("features", "pdf_features_label.pkl.bz2"), compression="bz2")

CPU times: user 25.6 s, sys: 489 ms, total: 26.1 s
Wall time: 26.1 s