In [1]:
import os, math, subprocess
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from IPython.display import display

# some settings for displaying Pandas results
pd.set_option('display.width', 2000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.precision', 4)
pd.set_option('display.max_colwidth', -1)

# Load train and test data

In [2]:
# train
train_path = "home-credit-default-risk/application_train.csv"
pdf_train = pd.read_csv(train_path)
print("(rows, columns)", pdf_train.shape)
print("First 5 rows")
display(pdf_train.head(5))

# test
test_path = "home-credit-default-risk/application_test.csv"
pdf_test = pd.read_csv(test_path)
print("(rows, columns)", pdf_test.shape)
print("First 5 rows")
display(pdf_test.head(5))

('(rows, columns)', (307511, 122))
First 5 rows

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.0188,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.0830,0.2629,0.1394,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.0035,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.3113,0.6222,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.0100,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.5559,0.7296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.0080,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.6504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.0287,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.3227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

('(rows, columns)', (48744, 121))
First 5 rows

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.0188,-19241,-2329,-5170.0,-812,NaN,1,1,0,1,0,1,NaN,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.7526,0.7897,0.1595,0.0660,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0505,NaN,NaN,0.0672,0.0612,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0526,NaN,NaN,0.0666,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0514,NaN,NaN,NaN,block of flats,0.0392,"Stone, brick",No,0.0,0.0,0.0,0.0,-1740.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.0358,-18064,-4469,-9118.0,-1623,NaN,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.5650,0.2917,0.4330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,Working,Higher education,Married,House / apartment,0.0191,-20038,-4458,-2175.0,-3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,NaN,0.6998,0.6110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-856.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.0264,-13976,-1866,-2000.0,-4208,NaN,1,1,0,1,1,0,Sales staff,4.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.5257,0.5097,0.6127,0.3052,0.1974,0.9970,0.9592,0.1165,0.32,0.2759,0.375,0.0417,0.2042,0.2404,0.3673,0.0386,0.08,0.3109,0.2049,0.9970,0.9608,0.1176,0.3222,0.2759,0.375,0.0417,0.2089,0.2626,0.3827,0.0389,0.0847,0.3081,0.1974,0.9970,0.9597,0.1173,0.32,0.2759,0.375,0.0417,0.2078,0.2446,0.3739,0.0388,0.0817,reg oper account,block of flats,0.3700,Panel,No,0.0,0.0,0.0,0.0,-1805.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.0100,-13040,-2191,-4000.0,-4262,16.0,1,1,1,1,0,0,NaN,3.0,2,2,FRIDAY,5,0,0,0,0,1,1,Business Entity Type 3,0.2021,0.4257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-821.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pdf_tvt = pd.read_pickle("pdf_tvt_extend.pkl", compression="bz2")
print(pdf_tvt.shape)
display(pdf_tvt.head())

(356255, 3)

   SK_ID_CURR  TARGET tvt_code
0  100002      1       train
1  100003      0       train
2  100004      0       train
3  100006      0       train
4  100007      0       train

In [4]:
pdf_tvt["tvt_code"].value_counts()

train          216948
kaggle_test    48744
test           46127
val            44436
Name: tvt_code, dtype: int64

# Combine features

In [5]:
ls_feat_file = subprocess.check_output(["ls", "features"]).splitlines()
ls_feat_file

['baseline.pkl.bz2']

In [6]:
%%time
ls_pdf = []
for fname in ls_feat_file:
    feat_path = os.path.join("features", fname)
    pdf_feat = pd.read_pickle(feat_path, compression="bz2")
    ls_pdf.append(pdf_feat)
    
pdf_combined = pd.concat(ls_pdf)
ls_features = [feat for feat in pdf_combined.columns if feat not in ["SK_ID_CURR"]]

print("rows, columns", pdf_combined.shape)
pdf_combined.head()

('rows, columns', (356255, 160))
CPU times: user 2.09 s, sys: 592 ms, total: 2.68 s
Wall time: 2.41 s

In [7]:
# join with label
pdf_features_label = pdf_tvt.merge(pdf_combined, on="SK_ID_CURR", how="left")
print(pdf_features_label.shape)
display(pdf_features_label.head().T)

(356255, 162)

                                                        0       1       2       3       4
SK_ID_CURR                                         100002  100003  100004  100006  100007
TARGET                                             1       0       0       0       0
tvt_code                                           train   train   train   train   train
is_FLAG_MOBIL                                      1       1       1       1       1
is_FLAG_EMP_PHONE                                  1       1       1       1       1
is_FLAG_WORK_PHONE                                 0       0       1       0       0
is_FLAG_CONT_MOBILE                                1       1       1       1       1
is_FLAG_PHONE                                      1       1       1       0       0
is_FLAG_EMAIL                                      0       0       0       0       0
is_REG_REGION_NOT_LIVE_REGION                      0       0       0       0       0
is_REG_REGION_NOT_WORK_REGION                      0       0       0       0       0
is_LIVE_REGION_NOT_WORK_REGION                     0       0       0       0       0
is_REG_CITY_NOT_LIVE_CITY                          0       0       0       0       0
is_REG_CITY_NOT_WORK_CITY                          0       0       0       0       1
is_LIVE_CITY_NOT_WORK_CITY                         0       0       0       0       1
is_FLAG_DOCUMENT_2                                 0       0       0       0       0
is_FLAG_DOCUMENT_3                                 1       1       0       1       0
is_FLAG_DOCUMENT_4                                 0       0       0       0       0
is_FLAG_DOCUMENT_5                                 0       0       0       0       0
is_FLAG_DOCUMENT_6                                 0       0       0       0       0
is_FLAG_DOCUMENT_7                                 0       0       0       0       0
is_FLAG_DOCUMENT_8                                 0       0       0       0       1
is_FLAG_DOCUMENT_9                                 0       0       0       0       0
is_FLAG_DOCUMENT_10                                0       0       0       0       0
is_FLAG_DOCUMENT_11                                0       0       0       0       0
is_FLAG_DOCUMENT_12                                0       0       0       0       0
is_FLAG_DOCUMENT_13                                0       0       0       0       0
is_FLAG_DOCUMENT_14                                0       0       0       0       0
is_FLAG_DOCUMENT_15                                0       0       0       0       0
is_FLAG_DOCUMENT_16                                0       0       0       0       0
is_FLAG_DOCUMENT_17                                0       0       0       0       0
is_FLAG_DOCUMENT_18                                0       0       0       0       0
is_FLAG_DOCUMENT_19                                0       0       0       0       0
is_FLAG_DOCUMENT_20                                0       0       0       0       0
is_FLAG_DOCUMENT_21                                0       0       0       0       0
NAME_INCOME_TYPE_Working                           1       0       1       1       1
NAME_INCOME_TYPE_State_servant                     0       1       0       0       0
NAME_INCOME_TYPE_Commercial_associate              0       0       0       0       0
NAME_INCOME_TYPE_Pensioner                         0       0       0       0       0
NAME_INCOME_TYPE_Unemployed                        0       0       0       0       0
NAME_INCOME_TYPE_Student                           0       0       0       0       0
NAME_INCOME_TYPE_Businessman                       0       0       0       0       0
NAME_INCOME_TYPE_Maternity_leave                   0       0       0       0       0
FONDKAPREMONT_MODE_reg_oper_account                1       1       0       0       0
FONDKAPREMONT_MODE_org_spec_account                0       0       0       0       0
FONDKAPREMONT_MODE_reg_oper_spec_account           0       0       0       0       0
FONDKAPREMONT_MODE_not_specified                   0       0       0       0       0
NAME_HOUSING_TYPE_House___apartment                1       1       1       1       1
NAME_HOUSING_TYPE_Rented_apartment                 0       0       0       0       0
NAME_HOUSING_TYPE_With_parents                     0       0       0       0       0
NAME_HOUSING_TYPE_Municipal_apartment              0       0       0       0       0
NAME_HOUSING_TYPE_Office_apartment                 0       0       0       0       0
NAME_HOUSING_TYPE_Co_op_apartment                  0       0       0       0       0
NAME_EDUCATION_TYPE_Secondary___secondary_special  1       0       1       1       1
NAME_EDUCATION_TYPE_Higher_education               0       1       0       0       0
NAME_EDUCATION_TYPE_Incomplete_higher              0       0       0       0       0
NAME_EDUCATION_TYPE_Lower_secondary                0       0       0       0       0
NAME_EDUCATION_TYPE_Academic_degree                0       0       0       0       0
OCCUPATION_TYPE_Laborers                           1       0       1       1       0
OCCUPATION_TYPE_Core_staff                         0       1       0       0       1
OCCUPATION_TYPE_Accountants                        0       0       0       0       0
OCCUPATION_TYPE_Managers                           0       0       0       0       0
OCCUPATION_TYPE_Drivers                            0       0       0       0       0
OCCUPATION_TYPE_Sales_staff                        0       0       0       0       0
OCCUPATION_TYPE_Cleaning_staff                     0       0       0       0       0
OCCUPATION_TYPE_Cooking_staff                      0       0       0       0       0
OCCUPATION_TYPE_Private_service_staff              0       0       0       0       0
OCCUPATION_TYPE_Medicine_staff                     0       0       0       0       0
OCCUPATION_TYPE_Security_staff                     0       0       0       0       0
OCCUPATION_TYPE_High_skill_tech_staff              0       0       0       0       0
OCCUPATION_TYPE_Waiters_barmen_staff               0       0       0       0       0
OCCUPATION_TYPE_Low_skill_Laborers                 0       0       0       0       0
OCCUPATION_TYPE_Realty_agents                      0       0       0       0       0
OCCUPATION_TYPE_Secretaries                        0       0       0       0       0
OCCUPATION_TYPE_IT_staff                           0       0       0       0       0
OCCUPATION_TYPE_HR_staff                           0       0       0       0       0
ORGANIZATION_TYPE_Business_Entity_Type_3           1       0       0       1       0
ORGANIZATION_TYPE_School                           0       1       0       0       0
ORGANIZATION_TYPE_Government                       0       0       1       0       0
ORGANIZATION_TYPE_Religion                         0       0       0       0       1
ORGANIZATION_TYPE_Other                            0       0       0       0       0
ORGANIZATION_TYPE_XNA                              0       0       0       0       0
ORGANIZATION_TYPE_Electricity                      0       0       0       0       0
ORGANIZATION_TYPE_Medicine                         0       0       0       0       0
ORGANIZATION_TYPE_Business_Entity_Type_2           0       0       0       0       0
ORGANIZATION_TYPE_Self_employed                    0       0       0       0       0
ORGANIZATION_TYPE_Transport__type_2                0       0       0       0       0
ORGANIZATION_TYPE_Construction                     0       0       0       0       0
ORGANIZATION_TYPE_Housing                          0       0       0       0       0
ORGANIZATION_TYPE_Kindergarten                     0       0       0       0       0
ORGANIZATION_TYPE_Trade__type_7                    0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_11                0       0       0       0       0
ORGANIZATION_TYPE_Military                         0       0       0       0       0
ORGANIZATION_TYPE_Services                         0       0       0       0       0
ORGANIZATION_TYPE_Security_Ministries              0       0       0       0       0
ORGANIZATION_TYPE_Transport__type_4                0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_1                 0       0       0       0       0
ORGANIZATION_TYPE_Emergency                        0       0       0       0       0
ORGANIZATION_TYPE_Security                         0       0       0       0       0
ORGANIZATION_TYPE_Trade__type_2                    0       0       0       0       0
ORGANIZATION_TYPE_University                       0       0       0       0       0
ORGANIZATION_TYPE_Transport__type_3                0       0       0       0       0
ORGANIZATION_TYPE_Police                           0       0       0       0       0
ORGANIZATION_TYPE_Business_Entity_Type_1           0       0       0       0       0
ORGANIZATION_TYPE_Postal                           0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_4                 0       0       0       0       0
ORGANIZATION_TYPE_Agriculture                      0       0       0       0       0
ORGANIZATION_TYPE_Restaurant                       0       0       0       0       0
ORGANIZATION_TYPE_Culture                          0       0       0       0       0
ORGANIZATION_TYPE_Hotel                            0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_7                 0       0       0       0       0
ORGANIZATION_TYPE_Trade__type_3                    0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_3                 0       0       0       0       0
ORGANIZATION_TYPE_Bank                             0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_9                 0       0       0       0       0
ORGANIZATION_TYPE_Insurance                        0       0       0       0       0
ORGANIZATION_TYPE_Trade__type_6                    0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_2                 0       0       0       0       0
ORGANIZATION_TYPE_Transport__type_1                0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_12                0       0       0       0       0
ORGANIZATION_TYPE_Mobile                           0       0       0       0       0
ORGANIZATION_TYPE_Trade__type_1                    0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_5                 0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_10                0       0       0       0       0
ORGANIZATION_TYPE_Legal_Services                   0       0       0       0       0
ORGANIZATION_TYPE_Advertising                      0       0       0       0       0
ORGANIZATION_TYPE_Trade__type_5                    0       0       0       0       0
ORGANIZATION_TYPE_Cleaning                         0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_13                0       0       0       0       0
ORGANIZATION_TYPE_Trade__type_4                    0       0       0       0       0
ORGANIZATION_TYPE_Telecom                          0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_8                 0       0       0       0       0
ORGANIZATION_TYPE_Realtor                          0       0       0       0       0
ORGANIZATION_TYPE_Industry__type_6                 0       0       0       0       0
WALLSMATERIAL_MODE_Stone,_brick                    1       0       0       0       0
WALLSMATERIAL_MODE_Block                           0       1       0       0       0
WALLSMATERIAL_MODE_Panel                           0       0       0       0       0
WALLSMATERIAL_MODE_Mixed                           0       0       0       0       0
WALLSMATERIAL_MODE_Wooden                          0       0       0       0       0
WALLSMATERIAL_MODE_Others                          0       0       0       0       0
WALLSMATERIAL_MODE_Monolithic                      0       0       0       0       0
NAME_FAMILY_STATUS_Single___not_married            1       0       1       0       1
NAME_FAMILY_STATUS_Married                         0       1       0       0       0
NAME_FAMILY_STATUS_Civil_marriage                  0       0       0       1       0
NAME_FAMILY_STATUS_Widow                           0       0       0       0       0
NAME_FAMILY_STATUS_Separated                       0       0       0       0       0
NAME_FAMILY_STATUS_Unknown                         0       0       0       0       0
HOUSETYPE_MODE_block_of_flats                      1       1       0       0       0
HOUSETYPE_MODE_terraced_house                      0       0       0       0       0
HOUSETYPE_MODE_specific_housing                    0       0       0       0       0
NAME_TYPE_SUITE_Unaccompanied                      1       0       1       1       1
NAME_TYPE_SUITE_Family                             0       1       0       0       0
NAME_TYPE_SUITE_Spouse,_partner                    0       0       0       0       0
NAME_TYPE_SUITE_Children                           0       0       0       0       0
NAME_TYPE_SUITE_Other_A                            0       0       0       0       0
NAME_TYPE_SUITE_Other_B                            0       0       0       0       0
NAME_TYPE_SUITE_Group_of_people                    0       0       0       0       0
is_FLAG_OWN_CAR                                    0       0       1       0       0
is_NAME_CONTRACT_TYPE                              1       1       0       1       1
is_FLAG_OWN_REALTY                                 1       0       1       1       1
is_CODE_GENDER                                     1       0       1       0       1
is_EMERGENCYSTATE_MODE                             0       0       0       0       0

# Modeling

In [8]:
def get_Xy_from_pdf(pdf_input, ls_features, tvt_code):
    pdf_data = pdf_input[pdf_input["tvt_code"] == tvt_code].copy()
    
    #
    X = pdf_data[ls_features]
    y = pdf_data["TARGET"]
    
    return (X, y)

X_train, y_train = get_Xy_from_pdf(pdf_features_label, ls_features, "train")
X_val, y_val = get_Xy_from_pdf(pdf_features_label, ls_features, "val")
X_test, y_test = get_Xy_from_pdf(pdf_features_label, ls_features, "test")

In [9]:
%%time
import xgboost as xgb
param_init = {
    "objective": "binary:logistic", 
    "booster": "gbtree", 
    "max_depth": 4, # default: 3 only for depthwise
    "n_estimators": 1000, # default: 500  
    "learning_rate": 0.025, # default: 0.05 
    "subsample": 0.7, 
    "colsample_bytree": 0.6,  # default:  1.0
    "colsample_bylevel": 0.5, # default: 1.0
    "random_state": 0,
    
    #
    "silent": True, 
    "n_jobs": 4, 
    
    #
    "tree_method": "hist", # default: auto
    "grow_policy": "lossguide", # default depthwise
}

param_fit = {
    "eval_metric": "auc", 
    "early_stopping_rounds": 500, # default: 100
    "verbose": 200,
    "eval_set": [(X_train, y_train), (X_val, y_val), (X_test, y_test)]
}

xgb_model = xgb.XGBClassifier(**param_init)
xgb_model.fit(X_train, y_train, **param_fit)
evals_result = xgb_model.evals_result()
evals_result

[0]	validation_0-auc:0.599767	validation_1-auc:0.594699	validation_2-auc:0.600682
Multiple eval metrics have been passed: 'validation_2-auc' will be used for early stopping.

Will train until validation_2-auc hasn't improved in 500 rounds.
[200]	validation_0-auc:0.645342	validation_1-auc:0.631924	validation_2-auc:0.643542
[400]	validation_0-auc:0.655145	validation_1-auc:0.637223	validation_2-auc:0.647325
[600]	validation_0-auc:0.660449	validation_1-auc:0.638756	validation_2-auc:0.648526
[800]	validation_0-auc:0.664668	validation_1-auc:0.639047	validation_2-auc:0.649103
[999]	validation_0-auc:0.668362	validation_1-auc:0.638599	validation_2-auc:0.649515
CPU times: user 5min 21s, sys: 1.57 s, total: 5min 22s
Wall time: 1min 20s

In [10]:
# save model to file
import pickle
pickle.dump(xgb_model, open("models/xgb_model_baseline_v01.mod", "wb"))

# Save submission

In [11]:
X_kaggle_test = pdf_features_label.query("tvt_code == 'kaggle_test'")[ls_features]
y_test_pred = xgb_model.predict_proba(X_kaggle_test)[:, 1]
y_test_pred.mean()

0.082952745

In [12]:
SK_IDs = pdf_features_label.query("tvt_code == 'kaggle_test'")["SK_ID_CURR"].tolist()
pdf_submiss = pd.DataFrame({"SK_ID_CURR": SK_IDs, "TARGET": y_test_pred})
pdf_submiss.to_csv("submissions/submission_baseline_v01.csv", index=False)
pdf_submiss.head()

   SK_ID_CURR  TARGET
0  100001      0.0568
1  100005      0.2279
2  100013      0.0957
3  100028      0.0717
4  100038      0.1166

![submission_baseline_v01](submissions/submission_baseline_v01.png "submission_baseline_v01")